<div class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-60">
  <div class="bg-gray-800 p-6 rounded-lg shadow-lg w-full max-w-md relative text-white text-center">
    <h2 class="text-lg font-semibold mb-4">{{ mensaje }}</h2>
    <p class="mb-6 text-sm text-gray-300" *ngIf="detalle">
      {{ detalle }}
    </p>

    <div class="flex justify-center gap-4">
      <button (click)="cancelar()" class="px-4 py-2 bg-gray-600 hover:bg-gray-700 rounded">Cancelar</button>
      <button (click)="confirmar()" class="px-4 py-2 bg-red-600 hover:bg-red-700 rounded">Confirmar</button>
    </div>
  </div>
</div>
